*{
  padding: 0;
  margin:0;
}
body{
    font-family:'微软雅黑','黑体',serif,'宋体';
    color:#4d6287;
    font-size:12px;
    background:#191c2c;
    overflow:hidden;
    height: 100%;
}
.title0,.title1{
    left:0;
    width:100%;
    text-align:center;
    color:#2ec0f6;
    font-size:40px;
    font-weight: 400;
    height:70px;
    line-height:70px;
}
.title1{
    color:#fff;
    font-size:20px;
    height:30px;
    line-height:30px;
}
.textBox{
    margin-top: 15%;
    z-index: 2;
}
.contPar{
    position: absolute;
    background: url(../images/page1_3.jpg) no-repeat;
    width: 700px;
    height: 900px;
    top:50%;
    left:50%;
    margin-left: -360px;
    margin-top: -420px;
   
}

li {
    list-style: none;
  }

  ul li {
    font-size: 30px;
    color: #2ec0f6;
  }

  .tyg-div {
    float: left;
    position: absolute;
    left: 5%;
    top: 20%;
  }

  .tyg-p {
    font-size: 14px;
    font-family: 'microsoft yahei';
    position: absolute;
    top: 135px;
    left: 60px;
  }

  .tyg-div-denglv {
    z-index: 1000;
    float: right;
    position: absolute;
    right: 3%;
    top: 10%;
  }

  .tyg-div-form {
    background-color: #23305a;
    width: 300px;
    height: auto;
    margin: 120px auto 0 auto;
    color: #2ec0f6;
  }

  .tyg-div-form form {
    padding: 10px;
  }

  .tyg-div-form form input[type="text"] {
    width: 270px;
    height: 30px;
    margin: 25px 10px 0px 0px;
  }

  .tyg-div-form form input[type="password"] {
    width: 270px;
    height: 30px;
    margin: 25px 10px 0px 0px;
  }
  .tyg-div-form form button {
    cursor: pointer;
    width: 270px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: #2ec0f6;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #2ec0f6;
    -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset,
    0 2px 7px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset,
    0 2px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset,
    0 2px 7px 0 rgba(0, 0, 0, .2);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
/*旋转动画*/
.container {
    /*指定观察者与平面的距离，使有透视效果*/
    /*若无法正常3d效果，将perspective属性提到更上一个父容器即可(此处已上提，从items-->container)*/
    perspective: 1000px;
    /*让container的伪类有过渡效果--51-54行*/
    /*transition: all 1s;*/
}
.items {
    width: 200px;
    height: 200px;
    margin:  auto;
    /*指定子元素定位在三维空间内*/
    transform-style: preserve-3d;
    /*让所有item的父级元素（即items）旋转，item就是围绕着旋转了*/
    animation: autoMove 10s infinite linear;

}
.item {
    width: 170px;
    height: 170px;
    opacity: .6;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
}
/*定义自动旋转的动画*/
@keyframes autoMove {
    from { }
    to {
        transform: rotateY(-360deg);
    }
}
/*旋转动画结束*/